.arrow-button {
<<<<<<< HEAD
    all:unset;
    background-color:white;
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    width: 75%;
    padding: 20px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .icon-arrow {
    position: absolute;
    right: 160px;
  }
  
  .arrow-button:hover {
    background-color:aliceblue;
  }
  
=======
  background-color:white;
  color: grey;
  border: 1px solid grey;
  
  border-radius: 5px;
  width: 80%;
  padding: 20px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

#arrow-icon {
  position: absolute;
  right: 220px;
}

.arrow-button:hover {
  background-color: #0056b3;
}

@media (max-width: 598px){
  #arrow-icon{
    position: relative;
    right: 0px;
  }
}
>>>>>>> 4081f0fed1ce4f93a150c1a232bd2d7bbf1dc934
