.arrow-button {
    all:unset;
    background-color:white;
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    width: 75%;
    padding: 20px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .icon-arrow {
    position: absolute;
    right: 160px;
  }
  
  .arrow-button:hover {
    background-color:aliceblue;
  }
  