.top{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.top2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    top: 2.6rem;
}

.done {
    color: rgb(128, 171, 128);
}

.todo {
    color: rgb(49, 49, 149);
}

#left {
    margin: 20px 20px 0px 120px;
    flex: 1;
    position: relative;
}

#debit {
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    width: 75%;
}

.cards {
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardImg {
    height: 20px;
    margin-right: 10px;
}

label {
    margin-right: 20px;
}

input {
    position: relative;
}

input[type="radio"]:checked {
    accent-color: blue;
}

#right {
    background-color:aliceblue;
    margin: 90px 140px 10px -10px;
    width: 30%;
    border-radius: 15px;
    height: 80%;
    padding: 20px;
    color: rgb(78, 77, 77);
    position: relative;
    flex-shrink: 0;
}

#shoe {
    height: 120px;
}

#head {
    margin: 30px 0px 20px 30px;
    color: black;
    display: flex;
    align-items: center;
}

hr {
    width: 90%;
    margin: 10px auto;
}

.bill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 25px;
    width: calc(100% - 50px);
}

.num {
    margin-left: auto;
}

#close {
    color: red;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.Pay {
    display: block;
    width: 80%;
    box-sizing: content-box;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(0,0,255,0.5);
    color: white;
    font-weight: bold;
    text-align: center;
}

.box1 {
    margin-top: 104px;
}

@media (max-width: 598px) {
    .top2 {
        flex-direction: column;
    }

    #left {
        margin: 20px;
        width: 100%;
        order: 2;
    }

    #right {
        width: 100%;
        order: 1;
    }

    .bill {
        flex-direction: column;
        align-items: flex-start;
    }

    .num {
        margin-left: 0;
        margin-top: 10px;
        align-self: flex-end;
    }

    #right{
        margin: 0px;
    }
}