.carousel2   {
    display: flex;
    overflow: hidden;
    gap: 80px;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin: 30px ;
    margin-top: 50px ;
    width: 80vw; 
  }

  .carousel-image {
    width: 200px; 
    margin-right: 5px; 
  }
  