<<<<<<< HEAD
.container {
  max-width: 100%;
  overflow: hidden;
=======
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
>>>>>>> 4081f0fed1ce4f93a150c1a232bd2d7bbf1dc934
}

.first-container {
  margin-top: 4rem;
}

.first-container > .heading {
  text-align: center;
  padding: 5px;
}

.first-container > .heading > h1 {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 3rem;
}

.first-container > .info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.first-container > .info > .call,
.first-container > .info > .mail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
}

.first-container > .info > .call > .icon,
.first-container > .info > .mail > .icon {
  font-size: 3em;
  margin: 5px;
}

<<<<<<< HEAD
.first-container > .info > .call  {
  color: blue;
}

.first-container > .info > .mail {
=======
.first-container > .info > .call > .icon {
  color: blue;
}

.first-container > .info > .mail > .icon {
>>>>>>> 4081f0fed1ce4f93a150c1a232bd2d7bbf1dc934
  color: red;
}

.first-container > .info > .call > .callUs,
.first-container > .info > .call > .no,
.first-container > .info > .mail > .email_us,
.first-container > .info > .mail > .gmail {
  margin: 2px 0;
}

.container > .second-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
<<<<<<< HEAD
  flex-wrap: wrap; 
=======
  flex-wrap: wrap; /* Ensure flex items wrap to prevent overflow */
>>>>>>> 4081f0fed1ce4f93a150c1a232bd2d7bbf1dc934
}

.second-container > .first-part > div,
.second-container > .second-p {
<<<<<<< HEAD
  max-width: 100%; 
  transform: translateY(14px);
}

.msg {
  color: blue;
}

.email_us{
    transform: translateY(-.5rem);
}
.gmail{
    transform: translateY(-.5rem);
}
=======
  max-width: 100%; /* Ensure child elements do not exceed container width */
}

a {
  color: blue;
}
>>>>>>> 4081f0fed1ce4f93a150c1a232bd2d7bbf1dc934
