.container {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

.first-container {
  margin-top: 4rem;
}

.first-container > .heading {
  text-align: center;
  padding: 5px;
}

.first-container > .heading > h1 {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 3rem;
}

.first-container > .info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.first-container > .info > .call,
.first-container > .info > .mail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
}

.first-container > .info > .call > .icoon,
.first-container > .info > .mail > .icoon {
  font-size: 3em;
  margin: 5px;
}

.first-container > .info > .call > .icoon > .phone{
  color: blue;
}

.first-container > .info > .mail > .icoon > .email{
  color: red;
}

.first-container > .info > .call > .callUs,
.first-container > .info > .call > .no,
.first-container > .info > .mail > .email_us,
.first-container > .info > .mail > .gmail {
  margin: 2px 0;
}

.container > .second-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; /* Ensure flex items wrap to prevent overflow */
}

.second-container > .first-part > div,
.second-container > .second-p {
  max-width: 100%; /* Ensure child elements do not exceed container width */
}

a {
  color: blue;
}